header {
  height: 4rem;
  padding: 0.4rem;
  background: var(--main-color-dark);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0.1rem;

  a {
    color: #fff !important;
    text-decoration: none;
    font-size: 22pt;
    padding: 1rem;
  }
}

.nav {
  display: flex;
  align-items: center;
  padding-right: 1rem;

  a {
    color: #fff !important;
    text-decoration: none;
    font-size: 16pt;
    padding: 1rem;
  }
}
