<div class="components">

  <div class="item">
    <h2 class="title">Card Component</h2>
    <div class="description">
      <p>Sample card component</p>
      <code>&lt;tt-card &gt;Content&lt;/tt-card&gt;</code>
    </div>
    <h3>Example:</h3>
    <div class="controls">
      <label>Elevation</label>
      <input type="range" min="1" max="5" value="2" [(ngModel)]="elevation" />
    </div>
    <div class="sample">
      <tt-card [elevation]="elevation">
        Test 2
      </tt-card>
    </div>
  </div>
</div>
