.components {
	padding: 15px;
}

.item {
	padding: 15px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.title {
	display: inline;
	padding-bottom: 3px;
	font-size: 13pt;
	font-weight: bold;
	border-bottom: 3px solid var(--main-color-orange);
}

h3 {
	font-size: 12pt;
}

.sample {
  margin-top: 10px;
}
