/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

:root {
  --main-color-dark: #2A363B;
  --main-color-light: #FECEA8;
  --main-color-red: #E84A5F;
  --main-color-green: #99B898;
  --main-color-orange: #FF847C;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
